.dashboard-welcome-card{
    position: relative;
    padding: 50px 50px 50px 24px;
    border-radius: 16px;
    background: linear-gradient(
        to right,
        #6A1F99 55%,
        #E71C1C 75%,
        #FF4040 100%
        
    );
    color: #ffffff;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

// body #page-my-index,
// body #page-site-index,
// body #page-admin-search {
//     .drawer-right {
//         right: auto !important;
//         left: 0 !important;
//         transform: translateX(-100%);
//     }

   // #6F5454 0%, 

//     // &.drawer-open-right
// }