.dashboard-welcome-card{
    position: relative;
    padding: 50px 50px 50px 24px;
    border-radius: 16px;
    background: 
        url('/theme/jeho_template/pix/image3.png') right center / 220px auto no-repeat,
        linear-gradient(
            to left,
            
            #ab3ed2 0%,
            #771d8e 35%,
            #6A1F99 55%
        );
    color: #ffffff;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

// body #page-my-index,
// body #page-site-index,
// body #page-admin-search {
//     .drawer-right {
//         right: auto !important;
//         left: 0 !important;
//         transform: translateX(-100%);
//     }

   // #6F5454 0%, 

//     // &.drawer-open-right
// }