body.pagelayout-frontpage.notloggedin {
    background-image: url('/theme/jeho_template/pix/frontpage-bg.png');;
    background-size: cover;
    background-position: center -16%;
    background-repeat: no-repeat;
    min-height: 100vh;

    .main-inner {
        display: none;
    }
}