// .pagelayout-frontpage.notloggedin #page,
// .pagelayout-frontpage.notloggedin #page-wrapper {
//     margin: 0;
//     padding: 0;
//     background: transparent;
// }


body.pagelayout-frontpage.notloggedin #page-wrapper{
    background-image: url('/theme/jeho_template/pix/frontpage-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -16%;
    min-height: 100vh;
}

body.pagelayout-frontpage.notloggedin #page-header,
body.pagelayout-frontpage.notloggedin #page-content,
body.pagelayout-frontpage.notloggedin #topofscroll {
    display: none;
}

// -16%